@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url('../fonts/roboto-regular.woff') format('woff'),
       url('../fonts/roboto-regular.woff2') format('woff2')
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src: url('../fonts/roboto-medium.woff') format('woff'),
       url('../fonts/roboto-medium.woff2') format('woff2')
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: url('../fonts/roboto-bold.woff') format('woff'),
       url('../fonts/roboto-bold.woff2') format('woff2')
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  color: #ffffff;

  background-color: #849D8F;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:visited {
  color: #ffffff;
}

.footer-links a:hover,
.copyright-text a:hover {
  color: #ffbc9e;
  cursor: pointer;
}

.login-form a:hover,
.blog-link:hover {
  color: #e84d37;
  cursor: pointer;
}


li {
  list-style: none;
}

/*Header*/

.main-navigation {
  line-height: 18px;
}

/*Элементы первого уровня*/
.header-nav-list-item:hover {
  background-color: #f7f6f3;
}

.header-nav-list-item:hover a {
  color: #323232;
}

.header-nav-list-item:active {
	box-shadow: inset 0px 2px 1px 0 #696969;
  background-color: #ededed;
}

.active {
  background-color: #d07058;;
}
.catalog-dropdown-item:first-of-type a{
  font-weight: bold;
}

.header-buttons-login {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

}

.login-links{
  font-size: 13px;
  font-weight: normal;
  line-height: 1.85;
}

.header-cart-pop-up td {
  font-size: 13px;
  color: #323232;
  font-weight: normal;
}

.cart-price {
  color: #999999;
}

.work-time {
  line-height: 1.14;
  font-size: 14px;
}

.contact-phone {
  font-size: 22px;
  line-height: 1.09;
}

/*Main*/
.main-title {
  font-size: 35px;
  line-height: 1.17;
}

.main-banner h1{
  font-size: 60px;
  line-height: 1;
}

.main-banner button {
  font-size: 32px;
  line-height: 1.38;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  font-weight: bold;
}

.main-banner-image {
  background: url(../images/main_banner_ice_cream.png);
}

.raspberry-offer {
	background-color: #73172b;
	background: url(../images/raspberry_bg.jpg) no-repeat;
}

.chocolate-offer {
	background-color: #3a2217;
	background: url(../images/chocolate_bg.jpg) no-repeat;
}

.offer h2 {
  font-size: 35px;
  line-height: 1.17;
}

.offer p {
  font-size: 18px;
  line-height: 1.22;
}

.offer a {
  font-size: 18px;
  line-height: 1.33;
}

.about-section {
  background: url(../images/waffle4x4.jpg)
}

.about-preview {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.25;
  color: #323232;
}

.about-list {
  font-weight: normal;
  color: #323232;
}

.about-item {
  line-height: 1.38;
}
.sub-navigation a {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.14;
}

.catalog-item-name {
  line-height: 1.38;
  font-weight: 500;
}

.catalog-item-name:hover {
  color: #ffbc9e;
}

.catalog-item-price {
  font-size: 45px;
  line-height: 1;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
}

.kilogram {
  font-size: 30px;
}

.quick-preview {
  width: 200px;
  height: 44px;
}
.blog {
  background: url('../images/strawberry_bg.jpg') no-repeat;
}

.blog-header {
  font-weight: 500;
  line-height: 1.38;
  color: #323232;
}

.blog-link {
  font-size: 24px;
  line-height: 1.25;
  color: #323232;
  text-decoration: underline;
}

.mail-stripes-container {
  background: url("../images/stripes_bg.jpg") no-repeat;
}

.mail-container {
  background: #F8F7F4;
}

.mail-container p {
  font-weight: normal;
  line-height: 1.38;
  color: #5a5a5a;
}

.subscribe-form input{
  line-height: 1.5;
}

.subscribe-button {
  font-size: 18px;
}

.map-wrapper {
  position: relative;
  width: 100%;
  height: 430px;
  margin-top: 39px

}

.map {
  width: 100%;
  height: 430px;
}

.map-info {
  position: absolute;
  top: 63px;
  right: 27px;
  width: 302px;
  height: 305px;
  color: #323232;
  background-color: #ffffff;
}
.map-adress{
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
}

.map-adress b {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
}

.map-time {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57;
}

.map-phone {
  line-height: 22px;
  color: #323232;
  font-size: 18px;
  font-weight: bold;
}

.catalog-pages-list li{
  display: inline;
  font-weight: 500;
  line-height: 1.13;
}

.filter-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
}

.filter-button {
  color: #ffffff;
  font-weight: 500;
  line-height: 1.13;
  background-color: rgba(255, 255, 255, 0.2);
}

.filter-button:hover {
  background-color: white;
  color: #323232;
}

.filter-button:active {
  box-shadow: inset 0px 2px 1px 0 #696969;
  background-color: #ededed;
}
/* Footer */

.footer-links a {
  font-size: 13px;
  font-weight: normal;
}

.footer-links:first-of-type a {
  font-weight: bold;
}

.copyright-text {
  font-size: 12px;
  font-weight: normal;
  line-height: 1.5;
}

.reply-back span {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  color: #323232;
}

.visually-hidden {
  display: none;
}

input {
	outline: none;
}

input[type="text"],
input[type="password"] {
  color: #999999;
}

input[type="text"]:hover,
input[type="password"]:hover {
  border: solid 2px rgba(154, 154, 154, 0.52);
}

input[type="text"]:focus,
input[type="password"]:focus {
  border: solid 2px rgba(46, 136, 228, 0.52);
  color: #323232;
}

input:focus::placeholder {
  color: transparent;
}

.button {
  border: 0;
  color: #fefefe;
 /* width: 129px;
  height: 44px;*/
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35, #f26843);
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  font-family: "Roboto";
  font-weight: bold;
  cursor: pointer;
}

.button:hover{
  border: 0;
  box-shadow: 0px 2px 2px 0 #ac1000;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(to top, #e74a35, #f26843);
}

.button:active{
  outline: none;
  box-shadow: inset 0px 2px 2px 0 #942718;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(to bottom, #e74a35, #f26843);
}
