@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-regular.woff') format('woff'),
       url('../fonts/roboto-regular.woff2') format('woff2')
}

@font-face {
  font-family: 'Roboto';
  font-style: medium;
  font-weight: 500;
  src: url('../fonts/roboto-medium.woff') format('woff'),
       url('../fonts/roboto-medium.woff2') format('woff2')
}

@font-face {
  font-family: 'Roboto';
  font-style: bold;
  font-weight: 700;
  src: url('../fonts/roboto-bold.woff') format('woff'),
       url('../fonts/roboto-bold.woff2') format('woff2')
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  color: #ffffff;

  background-color: #849D8F;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:visited {
  color: #ffffff;
}

.footer__links a:hover,
.copyright__text a:hover {
  color: #ffbc9e;
  cursor: pointer;
}

.login__form a:hover,
.blog__link:hover {
  color: #e84d37;
  cursor: pointer;
}


.header__nav__list,
.catalog__dropdown__list,
.catalog__items__list,
.sub__navigation,
.about__list,
.social__buttons__list,
.footer__links__list {
  list-style: none;
}

/*Header*/

.main-navigation {
  line-height: 18px;
}

.header__nav__list__item a:hover {
  color: #323232;
}

.catalog__dropdown__list li{
  color: black;
}

.catalog__dropdown__item {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.14;
}

.catalog__dropdown__item:first-of-type{
  font-weight: bold;
}

.header__buttons__container {
  font-weight: 500;
  font-size: 14px;
}

.login__links{
  font-size: 13px;
  font-weight: normal;
  line-height: 1.85;
}

.header__cart__pop-up td {
  font-size: 13px;
  color: #323232;
  font-weight: normal;
}

.cart__price {
  color: #999999;
}

.work__time {
  line-height: 1.14;
}

.contact__phone {
  font-size: 22px;
  line-height: 1.09;
}

/*Main*/

.about__section {
  background: url(../images/waffle4x4.jpg)
}

.about__preview {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.25;
  color: #323232;
}

.about__list {
  font-weight: normal;
  color: #323232;
}

.sub__navigation a {
  font-size: 13px;
  font-weight: normal;
  line-height: 1.14;
}

.catalog__item__name {
  line-height: 1.13;
  font-weight: 500;
}

.catalog__item__name:hover {
  color: #ffbc9e;
}

.catalog__item__price {
  font-size: 45px;
  line-height: 1;
}

.kilogram {
  font-size: 30px;
}

.blog {
  background: url('../images/strawberry_bg.jpg') no-repeat;
}

.blog__header {
  font-weight: 500;
  line-height: 1.38;
  color: #323232;
}

.blog__link {
  font-size: 24px;
  line-height: 1.25;
  color: #323232;
}

.mail__container {
  background: #F8F7F4;
}

.mail__container p {
  font-weight: normal;
  line-height: 1.38;
  color: #5a5a5a;
}

/* Footer */

.footer__links a {
  font-size: 13px;
  font-weight: normal;
}

.footer__links:first-of-type a {
  font-weight: bold;
}

.copyright__text {
  font-size: 12px;
  font-weight: normal;
  line-height: 1.5;
}

.reply__back span {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  color: #323232;
}

.visually-hidden {
  display: none;
}

input {
	outline: none;
}

input[type="text"],
input[type="password"] {
  color: #999999;
}

input[type="text"]:hover,
input[type="password"]:hover {
  border: solid 2px rgba(154, 154, 154, 0.52);
}

input[type="text"]:focus,
input[type="password"]:focus {
  border: solid 2px rgba(46, 136, 228, 0.52);
  color: #323232;
}

input:focus::placeholder {
  color: transparent;
}

.button {
  border: 0;
  color: #fefefe;
  width: 129px;
  height: 44px;
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35, #f26843);
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  cursor: pointer;
}

.button:hover{
  width: 129px;
  height: 44px;
  border: 0;
  box-shadow: 0px 2px 2px 0 #ac1000;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(to top, #e74a35, #f26843);
}

.button:focus{
	outline: none;
  width: 129px;
  height: 44px;
  box-shadow: inset 0px 2px 2px 0 #942718;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(to bottom, #e74a35, #f26843);
}