@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url('../fonts/roboto-regular.woff') format('woff'),
       url('../fonts/roboto-regular.woff2') format('woff2')
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src: url('../fonts/roboto-medium.woff') format('woff'),
       url('../fonts/roboto-medium.woff2') format('woff2')
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: url('../fonts/roboto-bold.woff') format('woff'),
       url('../fonts/roboto-bold.woff2') format('woff2')
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  color: #ffffff;

  background-color: #849D8F;
  padding-left: 27px;
  padding-right: 27px;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:visited {
  color: #ffffff;
}

.footer-links a:hover,
.copyright-text a:hover {
  color: #ffbc9e;
  cursor: pointer;
}

.login-form a:hover,
.blog-link:hover {
  color: #e84d37;
  cursor: pointer;
}

li {
  list-style: none;
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  width: 1200px;
  padding-left: 26px;
  padding-right: 26px;
}
/*Header*/

header {
 width: 100%;
 height: auto;
 margin-bottom: 10px;
 position: relative;
 display: flex;
 justify-content: space-between;
}

.header-nav-logo-container {
  display: flex;
}

.header-logo {
  margin-top: 9px;
}

.main-navigation {
  line-height: 18px;
  display: flex;
}

/*Элементы первого уровня*/
.header-nav-list {
  display: flex;
}

.header-nav-list-item {
  height: 32px;
  margin-top: 23px;
  /*vertical-align: middle;*/
  border-radius: 20px;
}

.header-nav-list-item:first-of-type {
  margin-left: 10px;
}

.header-nav-list-item > a {
  padding: 6px 13px;
  display: block;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

.active > a {
  text-decoration: none;
}
.header-nav-list-item:hover {
  background-color: #f7f6f3;
}

.header-nav-list-item:hover a {
  color: #323232;
}

.header-nav-list-item:active {
  box-shadow: inset 0px 2px 1px 0 #696969;
  background-color: #ededed;
}

.active {
  background-color: #d07058;;
}

.catalog-dropdown-list {
  position: absolute;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  border-radius: 10px;
  margin-left: -6px;
  margin-top: 5px;
  width: 143px;
  display: flex;
  flex-wrap: wrap;
  z-index: 3;
}

.catalog-dropdown-item {
  /*outline: 1px solid red;*/
  height: 28px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  position: relative;
  outline: 1px solid indigo;
}

.catalog-dropdown-item a::before  {
  content: "";
  position: absolute;
  display: block;
  top: 10px;
  left: 10px;
  width: 128px;
  height: 1px;
  opacity: 0.2;
}

.header-catalog:hover .catalog-dropdown-list{
  display: block;
}

.catalog-dropdown-item a{
  padding-left: 20px;
  font-size: 14px;
  font-weight: 400;
  outline: 1px solid aqua;
}

.catalog-dropdown-item:first-of-type a{
  font-weight: bold;
}

.header-buttons-container {
  display: flex;
  margin-top: 22px;
}

.header-buttons-search {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  border: 0;
  background: url('../images/loupe.svg') no-repeat 50% 50%;
  background-color: rgba(255,255,255,0.2);
  position: relative;
  outline: 1px solid red;
}

.header-buttons-search:hover {
  background: #f8f7f4 url('../images/loupe-dark.svg') no-repeat 50% 50%;
}

.header-buttons-search:hover .search-field-container {
  display: block;
}

.search-field-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 341px;
  height: 84px;
  border-radius: 5px; 
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  outline: 1px solid red;
}

.header-buttons-login{
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  width: auto;
  height: 32px;
  background: rgba(255,255,255,0.2);
  border-radius: 15px;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.header-buttons-login:hover {
  background-color: #f8f7f4;;
}

.header-buttons-login:hover .login-form {
  display: block;
}

.login-form {
  width: 277px;
  height: 214px;
  border-radius: 5.1px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
}

.header-buttons-login:hover > span {
  color: #323232;
}

.header-buttons-login:hover > span::before{
  background: url("../images/entrance-dark.svg")
}

.header-buttons-login > span{
  margin: 6px 17px 7px 16px;
  display: flex;
}

.header-buttons-login > span::before {
  content: "";
  background: url("../images/entrance.svg") no-repeat;
  width: 21px;
  height: 19px;
  top: 0px;
  right: 40px;
  margin-top: -2px;
  margin-right: 7px;
  margin-bottom: -7px;
}

.login-links{
  font-size: 13px;
  font-weight: normal;
  line-height: 1.85;
}

.header-buttons-cart,
.cart-with-items { 
  min-width: 100;
  height: 32px;
  font-family: "Roboto";
  border: 0;
  border-radius: 15px;
  background-color: rgba(255,255,255,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 9px;
}

.header-buttons-cart:hover,
.cart-with-items:hover {
  background-color: #f8f7f4;;
}

.header-buttons-cart:hover > span,
.cart-with-items:hover > span {
  color: #323232;
}

.header-buttons-cart:hover > span::before {
  background: url("../images/basket-dark.svg");
}

.cart-with-items:hover > span::before {
  background: url("../images/basket-red.svg");
}

.header-buttons-cart > span,
.cart-with-items > span {
  display: flex;
  color: white;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  margin-top: 7px;
  margin-right: 13px;
  margin-bottom: 9px;
  margin-left: 16px;
}

.header-buttons-cart > span::before {
  content: "";
  background: url("../images/basket.svg") no-repeat;
  width: 21px;
  height: 20px;
  top: 0px;
  right: 40px;
  margin-top: -2px;
  margin-right: 8px;
  margin-left: -3px;
  margin-bottom: 10px;
}

.cart-with-items > span::before {
  content: "";
  background: url("../images/basket-red.svg") no-repeat;
  width: 21px;
  height: 20px;
  top: 0px;
  right: 40px;
  margin-top: -2px;
  margin-right: 8px;
  margin-left: -3px;
  margin-bottom: 10px;
}

.header-cart-pop-up td {
  font-size: 13px;
  color: #323232;
  font-weight: normal;
}

.cart-price {
  color: #999999;
}

.main-info {
  position: absolute;
  top: 75px; 
  right: 0px;
  display: block;
  text-align: right;
}
.work-time {
  line-height: 1.14;
  font-size: 14px;
  display: block;
  margin-bottom: 8px;
}

.contact-phone {
  font-size: 22px;
  line-height: 1.09;
  display: block;
}

/*Main*/

.sub-navigation {
  display: flex;
}

.sub-navigation li {
  position: relative;
}

.sub-navigation li:not(.sub-on-page) {
  margin-right: 17px;
}

.sub-navigation li:not(.sub-on-page)::after {
  content:"»";
  position: absolute;
  top: 0px;
  left: 57px;
}

.main-title {
  font-size: 35px;
  line-height: 1.17;
  margin: 0;
}

.main-banner {
  display: flex
  width: 100%;
}

.main-banner h1{
  font-size: 60px;
  line-height: 1;
  margin: 0;
}

.main-banner button {
  font-size: 32px;
  line-height: 1.38;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  font-weight: bold;
}

.main-banner-image {
  background: url(../images/main_banner_ice_cream.png);
}

.special-offers {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.offer {
  width: 560px;
  border-radius: 15px;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 20px;
  border-radius: 15px;
}

.raspberry-offer {
	background-color: #73172b;
	background: url(../images/raspberry_bg.jpg) no-repeat 10% 0%;
	background-size: cover;
}

.chocolate-offer {
	background-color: #3a2217;
	background: url(../images/chocolate_bg.jpg) no-repeat;
	background-size: cover;
}

.offer h2 {
  font-size: 35px;
  line-height: 1.17;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.offer p {
  font-size: 18px;
  line-height: 1.22;
  margin-top: 20px;
  margin-bottom: 45px;
}

.wrapper {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}
.offer a {
  font-size: 18px;
  line-height: 1.33;
  border-radius: 35px;
  margin-right: 21px;
}

.raspberry-offer a {
  position: relative;
  padding: 15px 24px 14px 22px;
  bottom: 0px;
  right: 0px;
}

.chocolate-offer a {
  padding: 14px 22px 14px 21px;
}

.hit {
  width: 100%;
  display: flex;
  margin-bottom: 41px;
}

.catalog-items-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 41px;
}

.catalog-row {
	width: 100%;
	display: flex;
	margin-top: 40px;
}

.hit-item-container,
.catalog-item {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  /*justify-content: center;
  align-items: center;*/
  text-align: center;
  margin-right: 26px;
}

.about-section {
  background: url(../images/waffle4x4.jpg);
  /*display: flex;*/
  width: 100%;
  margin-bottom: 40px;
  padding-top: 29px;
  /*padding-left: 33px;*/
  padding-bottom: 26px;
  padding-left: 20px;
  border-radius: 15px;
}

.about-preview {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.25;
  color: #323232;
}

.about-list {
  font-weight: normal;
  color: #323232;
  display: flex;
  flex-wrap: wrap;
  /*justify-content: space-between;*/
  /*margin-top: 7px;*/
}

.about-list li:nth-of-type(1n + 1) p {
  padding-left: 57px;
  margin-right: 33px;
  width: 535px;
}

.about-list li:nth-of-type(2n) p{
  padding-left: 57px;
  width: 527px;
  margin-right: 20px;
}

.about-list li p {
	margin-top: 11px;
}

.about-item::before {
  content: "";
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  width: 49px;
  height: 49px;
}

.about-technology::before {
  background: url("../images/ice-cream.svg") no-repeat;
}

.about-ingredients::before {
  background: url("../images/cow.svg") no-repeat;
}

.about-cooking::before {
  background: url("../images/eco.svg") no-repeat;
}

.about-delivery::before {
  background: url("../images/thermometer.svg") no-repeat;
}

.about-item {
  line-height: 1.38;
  padding-top: 12px;
  /*display: flex;*/
  position: relative;
}

.sub-navigation a {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.14;
}

.catalog-item-name {
  line-height: 1.38;
  font-weight: 500;
  margin-top: 17px;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}

.catalog-item-name:hover {
  color: #ffbc9e;
}

.catalog-item-image {
  position: relative;
}

.hit-item-container::before {
  content:"";
  background: url(../images/hit.svg);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 61px;
  height: 61px;
  z-index: 5;
}

.catalog-item-price {
  position: absolute;
  left: 0px;
  top: 214px;
  font-size: 45px;
  line-height: 1;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
}

.kilogram {
  font-size: 30px;
}

.quick-preview {
  width: 200px;
  height: 44px;
}

.blog-mail-section {
  width: 100%;
  display: flex;
  /*justify-content: space-between;*/
}

.blog {
  background: white url('../images/strawberry_bg.jpg') no-repeat 40%;
  background-size: cover;
  width: 560px;
  padding-top: 26px;
  padding-left: 20px;
  border-radius: 15px;
  margin-right: 26px;
  display: block;
}

.blog-header {
  font-weight: 500;
  line-height: 1.38;
  color: #323232;
}

.blog-link {
  font-size: 24px;
  line-height: 1.25;
  color: #323232;
  text-decoration: underline;
  display: block; 
  width: 281px;
  margin-top: 13px;
  margin-bottom: 60px;
}

.mail-stripes-container {
  background: url("../images/stripes_bg.jpg") no-repeat;
  background-size: cover;
  width: 560px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 5px 5px 6px;

}

.mail-container {
  background: #F8F7F4;
  border-radius: 15px;
  width: 549px;
  display: block;
  padding: 33px 21px 35px 20px;
  padding-right: 0px;
}

.mail-container p {
  font-weight: normal;
  line-height: 1.38;
  color: #5a5a5a;
  width: 506px;
  display: block;
  padding-bottom: 37px;
}

.subscribe-form input{
  line-height: 1.5;
  width: 368px;
  height: 44px;
  border: solid 1px rgba(178, 178, 178, 0.52);
  border-radius: 5px;
  padding-left: 15px;
  margin-right: 11px;
}

.subscribe-button {
  font-size: 18px;
  padding: 14px 19px 13px 19px;
  border-radius: 35px;
}

.map-wrapper {
  position: relative;
  width: 100%;
  height: 430px;
  margin-top: 39px;
}

.map {
  position: relative;
  left: -26px;
  width: 1200px;
  height: 430px;
}

.map-info {
  position: absolute;
  top: 63px;
  right: 27px;
  width: 302px;
  height: 305px;
  color: #323232;
  background-color: #ffffff;
}
.map-adress{
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
}

.map-adress b {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
}

.map-time {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57;
}

.map-phone {
  line-height: 22px;
  color: #323232;
  font-size: 18px;
  font-weight: bold;
}

.catalog-pages {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.catalog-pages-list {
	margin-bottom: 30px;
	margin-left: 10px;
	display: flex;
	justify-content: flex-end;
}

.catalog-pages-list li{
  color: white;
  font-weight: 500;
  line-height: 1.13;
  width: 27px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.catalog-pages-list li:first-of-type,
.catalog-pages-list li:last-of-type{
  width: auto;
  background-color: transparent;
}


.catalog-page-link {
  border-radius: 50%;
  width: 27px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.catalog-pages-list li .on-page{
  background-color: white;
  color: #323232;
}

.catalog-page-link:hover {
  background: rgba(255,255,255, 0.2);
}


.catalog-page-link:active {
  background-color: white;
  color: #323232;
}

.arrow-link-left {
  background-image: url("../images/arrow-link-left.svg");
  color: white;
  width: 8px;
  height: 12px;
  margin-right: 15px;
}

.arrow-link-right {
  background-image: url("../images/arrow-link-right.svg");
  color: white;
  width: 8px;
  height: 12px;
  margin-left: 15px;

}

.filter-section {
  margin-top: 30px;
}

.filter-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
}

.filter-button {
  color: #ffffff;
  font-weight: 500;
  line-height: 1.13;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid white;
}

.filter-button:hover {
  background-color: white;
  color: #323232;
}

.filter-button:active {
  box-shadow: inset 0px 2px 1px 0 #696969;
  background-color: #ededed;
}
/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 29px;
}

.catalog-footer {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.social-buttons-list {
  display: flex;
  margin-top: 36px;
}

.social-button {
  margin-bottom: 5px;
  margin-right: 11px;
  box-sizing: content-box;
  /*display: flex;*/
}

.social-button a{
  display: block;
  width: 32px;
  height: 32px;
  border: 3px solid rgba(255,255,255,0.5);
  border-radius: 50%;
  opacity: 0.8;
}

.twitter a {
  background: url(../images/twitter.svg) no-repeat;
}

.instagram a {
  background: url(../images/instagram.svg) no-repeat;
}

.facebook a {
  background: url(../images/fb.svg) no-repeat;
}

.vkontakte a {
  background: url(../images/vk.svg) no-repeat;
}

.social-button a:hover {
  opacity: 1;
}

.social-button a:active {
  opacity: 0.7;
}

.footer-links-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 36px;
}

.footer-links a {
  font-size: 13px;
  font-weight: normal;
  text-decoration: underline;
  text-decoration-color: rgba(255,255,255,0.2)
}

.first-column {
  margin-right: 32px;
}

.heart-link {
	position: relative;
}

.heart-link::before {
  content: "";
  background: url("../images/heart.svg");
  position: absolute;
  display: block;
  width: 15px;
  height: 13px;
  bottom: 0px;
  left: -23px;
}

.footer-copyright-container {
  margin-top: 18px;
}

.copyright-text {
  font-size: 12px;
  font-weight: normal;
  line-height: 1.5;
}

.copyright-link {
  text-decoration: underline;
  text-decoration-color: rgba(255,255,255,0.2)
}

.reply-back span {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  color: #323232;
}

.visually-hidden {
  display: none;
}

input {
	outline: none;
}

input[type="text"],
input[type="password"] {
  color: #999999;
}

input[type="text"]:hover,
input[type="password"]:hover {
  border: solid 2px rgba(154, 154, 154, 0.52);
  padding-left: 14px;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border: solid 2px rgba(46, 136, 228, 0.52);
  color: #323232;
}

input:focus::placeholder {
  color: transparent;
}

.button {
  border: 0;
  color: #fefefe;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35, #f26843);
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  font-family: "Roboto";
  font-weight: bold;
  cursor: pointer;
}

.button:hover{
  border: 0;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  box-shadow: 0px 2px 2px 0 #ac1000;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(to top, #e74a35, #f26843);
}

.button:active{
  outline: none;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  box-shadow: inset 0px 2px 2px 0 #942718;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(to bottom, #e74a35, #f26843);
}
